.jodit_container .jodit_wysiwyg {
    color: #000000;
}

.jodit_container .jodit_placeholder {
    color: #000000;
}

.jodit_wysiwyg h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000 !important;
}

.jodit_list_element span {
    color: #000000 !important;
}
