.hero-area {
    padding: 20px 0 20px;
}

.section-heading {
    margin-bottom: 10px;
}

.single-blog-post.featured-post .post-data .post-excerp {
    margin-bottom: 15px;
}

.single-blog-post.featured-post-2 .post-data .post-title h6 {
    margin-bottom: 5px;
}

p {
    margin-top: 0;
    margin-bottom: 0.1rem;
}